.show-results{
  background-color: #664848;  
  height: 200px;
  color: #000000;
  border-radius: 8px;
  overflow: auto;
}

.show-results::-webkit-scrollbar{
  width: 10px;
  background: #484848;
  border-radius: 100px;
}

.show-results::-webkit-scrollbar-thumb{
  width: 12px;
  background: #000000;
  border-radius: 100px;
}
