.cities__card{
  background-color: #7e5858;
  margin: 12px 8px;
  padding: 12px 16px;
  border-radius: 8px;
  cursor: pointer;
}

.show_results{
  background-color: #664848;  
  height: 200px;
  color: #000000;
  border-radius: 8px;
  overflow: auto;
  z-index: 2;
}

.show_results::-webkit-scrollbar{
  width: 10px;
  background: #484848;
  border-radius: 100px;
}

.show_results::-webkit-scrollbar-thumb{
  width: 12px;
  background: #000000;
  border-radius: 100px;
}
